{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}  
    {% endwith %}
<form action="#" method="POST">
    <input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
    <input type="submit" value="submit"/>
</form>
{% endblock %}
